<h1>카테고리 수정하기</h1>

<body style="
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
">
    
<form action="/updatecategory/<%= @one_post.id %>" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">CategoryName</label>
        <input name="categoryname" type="text" value="<%= @one_post.categoryname%>" class="form-control" id="exampleInputEmail1" placeholder="categoryname">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

</body>